.mvl-featuredCharacters-card__imageNw {
    display: flex;
    position: relative;
}
.mvl-featuredCharacters-card__imageNo {
    display: flex;
    position:absolute;
    top: 365px;
    right: 0;
    left: 678px;
}